<link rel="stylesheet" type="text/css" href="/static/components/css/scg.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/scs.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/html.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/github.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/measure_converter.css" />


<script type="text/javascript" charset="utf-8" src="/static/components/js/sc-web-core.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scs/scs.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scg/scg.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/image/image.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/txt/txt.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/html/html.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/youtube/youtubelink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/map/googlemaplink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/github/github.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/pdf/pdf.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/ui_example/ui_example.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/help_system/help_system.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/defects_indicator/defects_indicator.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/measure_converter/measure_converter.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/concerns_classifier/concerns_classifier.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/intercheangable_car/intercheangable_car.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/model_specification/model_specification.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/autopart_searching/autopart_searching.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/auto_test/auto_test.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/file-saver/FileSaver.min.js"></script>
